body {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: #F2F2F2;
}

#welcome {
    margin: 0 auto;
    width: 80%;
}

img {
    max-width: 100%;
    height: auto;
    position: relative;
}

h1 {
    font-family: Georgia;
    font-size: 30px;
    text-align: left;
}

h2 {
    font-family: Arial;
}

#title {
    position: relative;
    top: 100px;
    left: 50px;
    font-size: 50px;
}

#tagline {
    position: relative;
    top: 70px;
    left: 50px;
}

#logobox {
    float: left;
    width: 300px;
    height: 300px;
}

#logo {
    border-radius: 50%;
}

#members {
    position: absolute;
    top: 350px;
    margin-left: 100px;
}

#purpose {
    position: absolute;
    top: 400px;
    margin-left: 100px;
    margin-right: 100px;
}

#features {
    position: absolute;
    top: 600px;
    margin-left: 100px;
    margin-right: 100px;
}

#discussion {
    position: absolute;
    top: 700px;
    margin-left: 100px;
    margin-right: 100px;
}

#github {
    position: absolute;
    margin-left: 500px;
    max-width: 100%;
}


#links {
    position: absolute;
    top: 900px;
    margin-left: 800px;
    margin-right: 100px;

}