body {
   font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
   color: white;
   background: #696969;
 }

 .button {
   font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
   border: none;
   border-radius: 5px 5px 5px 5px;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   background: 	#333
 }

 .button:focus {
   outline: none;
   box-shadow: none;
 }

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover {
  background-color: #111;
}

li a:active {
  background-color: #111;
}

p {
  font-size: 16px;
}

.button:hover {
  background-color: #111;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.active_link {
  background-color: #111;
}

.checkbox {

}

#checkbox {
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  border: none;
  border-radius: 5px 5px 5px 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background: #708090
}

#checkbox label {
    float:left;
}

#checkbox label span {
    text-align:center;
    padding:3px 0px;
    display:inline;
}

.checked {
    background-color:#911;
    color:#fff;
}

#checkbox:hover {
  background-color: #333;
}

.link {
  position: relative;
  text-decoration: none;
  color: white;
  padding-left: 10px;
  font-size: 15px;
  text-align: left;
}
